*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

ion-icon {
  font-size: 16px;
}

.gradient-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#55d0ff, #ff9fb3);
}

.panel {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

@media screen and (width >= 992px) {
  .gradient-background {
    width: calc(100% - 360px);
    height: 100vh;
  }

  .panel {
    width: 360px;
  }
}

#buttons-wrapper {
  top: 5px;
  right: 5px;
}

.btn.btn-toggle:active,
.btn.btn-about:active {
  border-color: transparent;
}

#collapse-about {
  position: absolute;
  top: 42px;
  right: 15px;
}

.color-wrapper {
  height: 48px;
}

.color-picker {
  height: 100%;
}

input[type="color"] {
  height: 100%;
  border-radius: 2px;
}

.css-code {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 12px;
}

.css-code > code {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 21px;
}
