*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

.gradient-background,
.panel {
  width: 100vw;
  height: 100vh;
}

.gradient-background {
  background: linear-gradient(to bottom, #55d0ff, #ff9fb3);
}

.panel {
  position: relative;
  overflow-y: auto;
}

@media screen and (width >=992px) {
  .gradient-background {
    width: calc(100% - 360px);
    height: 100vh;
  }

  .panel {
    width: 360px;
  }
}

#title {
  font-family: "Nunito", sans-serif;
}

#title:hover {
  background: linear-gradient(90deg, #55d0ff, #ff9fb3);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#buttons-wrapper {
  top: 5px;
  right: 5px;
}

.btn.btn-toggle:active,
.btn.btn-about:active {
  border-color: transparent;
}

#collapse-about {
  position: absolute;
  top: 42px;
  right: 15px;
}

.color-wrapper {
  height: 48px;
}

.color-picker {
  height: 100%;
  border-radius: 6px;
}

input[type="color"] {
  height: 100%;
}

.btn-random {
  height: 40px;
}

.css-code {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  border: 1.5px solid #777777;
  border-radius: 6px;
}

.css-code>code {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 21px;
}